/* CSS BODY + HEADER nav */
body{
    background-image: url("https://cdn.shopify.com/s/files/1/1591/4511/products/il_fullxfull.852243227_dfev_1024x1024.jpg?v=1478774851");
    font-family : "Raleway";
    height: 100vh;
}


.lower{
  width:340px;
  margin:auto;
  padding:50px;
  background:white;
  opacity:0.8;
  color:black;
  box-shadow:inset 0 0 0 1px black;
  border:30px solid white;
  text-align: center;
}

.lower:hover{
  background:black;
  color:white;
  box-shadow:inset 0 0 0 1px white;
  border:30px solid black;
}

input{
  display:none;
}

.lower label{
  font-family: 'NotCourierSans';
  text-transform:uppercase;
  font-size:40px;
  text-align:center;
}

.lower label:hover{
  cursor:pointer;
}

.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
}

.overlay label{
	width: 58px;
	height:58px;
	position: absolute;
	right: 20px;
	top: 20px;
	background: url('https://tympanus.net/Development/FullscreenOverlayStyles/img/cross.png');
	z-index: 100;
  cursor:pointer;
}

.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

.overlay ul li a {
	font-weight: 300;
	display: block;
	color: white;
  text-decoration:none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
  font-family: 'NotCourierSans';
  text-transform:uppercase;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #936878;
}

.lower~.overlay-hugeinc{
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

#op:checked~.overlay-hugeinc{
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-moz-perspective: 300px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

#op:checked~.overlay-hugeinc nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

#op:not(:checked)~.overlay-hugeinc nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

/* --------------------- */